# Data files (too large for GitHub)
data/
*.csv

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
